<?xml version="1.0" ?>

<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.2//EN"
        "https://checkstyle.org/dtds/configuration_1_2.dtd">

<module name="Checker">
    <module name="TreeWalker">
        <module name="PackageName">
            <property name="format"
                      value="com\.example\.$\{projectname\}(\.[a-z][a-zA-Z0-9]+)*$"/>
        </module>
        <module name="HiddenField">
            <property name="severity" value="info" />
            <property name="ignoreConstructorParameter" value="true" />
            <property name="ignoreSetter" value="true" />
        </module>
        <module name="StringLiteralEquality">
            <property name="severity" value="warning" />
        </module>
        <module name="LocalVariableName">
            <property name="severity" value="warning" />
        </module>
        <module name="NoWhitespaceBefore">
            <property name="severity" value="warning" />
        </module>
        <module name="PackageName">
            <property name="severity" value="warning" />
            <property name="format" value="^[a-z]+(\.[a-z][a-z0-9_]*)*$" />
        </module>
        <module name="IllegalImport">
            <property name="severity" value="warning" />
            <property name="illegalPkgs" value="sun" />
        </module>
        <module name="MissingSwitchDefault">
            <property name="severity" value="warning" />
        </module>
        <module name="ConstantName">
            <property name="severity" value="warning" />
        </module>
        <module name="AvoidStaticImport">
            <property name="excludes" value="java.lang.System.out,java.lang.Math.*"/>
        </module>
    </module>
</module>